.element__trasher {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    width: 18px;
    height: 19px;
    background-color: rgba(134, 31, 31, 0);
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
    transition: .3s opacity;
}
.element__trasher:hover {
    opacity: 0.6;
}